In [1]:
import pandas as pd
#Create Series
s = pd.Series([10,20,30,40,])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
#Creating DataFrame
data = { 
         "Name":["A","B","c"],
         "Age":[22,25,23],
         "Marks":[85,90,78]
       }
df = pd.DataFrame(data)
print(df)

#Basic functions
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())

  Name  Age  Marks
0    A   22     85
1    B   25     90
2    c   23     78
  Name  Age  Marks
0    A   22     85
1    B   25     90
2    c   23     78
  Name  Age  Marks
0    A   22     85
1    B   25     90
2    c   23     78
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Marks   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None
             Age      Marks
count   3.000000   3.000000
mean   23.333333  84.333333
std     1.527525   6.027714
min    22.000000  78.000000
25%    22.500000  81.500000
50%    23.000000  85.000000
75%    24.000000  87.500000
max    25.000000  90.000000

In [19]:
#Practice Task
data = {"Students":["Subbu","Sree","Renu"],
        "Subjects":["Math","English","Social"],
        "Marks":[65,79,89]}
a = pd.DataFrame(data)
print(a)
#Printing 1st 2 rows and last row
print(a.head(2))
print(a.tail(1))
#Finding average and maximum marks
print(a["Marks"].mean())
print(a["Marks"].max())

  Students Subjects  Marks
0    Subbu     Math     65
1     Sree  English     79
2     Renu   Social     89
  Students Subjects  Marks
0    Subbu     Math     65
1     Sree  English     79
  Students Subjects  Marks
2     Renu   Social     89
77.66666666666667
89

In [37]:
##MINI TASK##
b = {
    "Student": ["Ravi", "Anu", "Kiran", "Meena"],
    "Maths": [78, 85, 90, 66],
    "Science": [72, 88, 91, 70]
}

c = pd.DataFrame(b)
#Display the data
print(c)
#Finding average of maths and science
print("Average of math and science is:",c[["Maths","Science"]].mean())
#Topper in  maths
topper = c.loc[c["Maths"].idxmax(),["Student","Maths"]]
print("Topper in maths is:",topper)

  Student  Maths  Science
0    Ravi     78       72
1     Anu     85       88
2   Kiran     90       91
3   Meena     66       70
Average of math and science is: Maths      79.75
Science    80.25
dtype: float64
Topper in maths is: Student    Kiran
Maths         90
Name: 2, dtype: object