In [1]:
import pandas as pd
import numpy as np

In [15]:
data = { "Name" : ["Ravi","Anu","Kiran","Meena"],
         "Age" : [32,np.nan,23,21],
         "Marks" : [78,85,np.nan,66]}
df = pd.DataFrame(data)
print(df)
print(df.info())
print(df.dropna())
#Check Missing Values
print(df.isnull())
print(df.isnull().sum())

#Fill Missing Values
df["Age"]=df["Age"].fillna(df["Age"].mean())
df["Marks"]=df["Marks"].fillna(df["Marks"].median())
print(df)

    Name   Age  Marks
0   Ravi  32.0   78.0
1    Anu   NaN   85.0
2  Kiran  23.0    NaN
3  Meena  21.0   66.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     3 non-null      float64
 2   Marks   3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 228.0+ bytes
None
    Name   Age  Marks
0   Ravi  32.0   78.0
3  Meena  21.0   66.0
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
Name     0
Age      1
Marks    1
dtype: int64
    Name        Age  Marks
0   Ravi  32.000000   78.0
1    Anu  25.333333   85.0
2  Kiran  23.000000   78.0
3  Meena  21.000000   66.0

In [11]:
#Practice Task
print(df.info())
print(df.dropna())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      float64
 2   Marks   4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 228.0+ bytes
None
    Name        Age  Marks
0   Ravi  32.000000   78.0
1    Anu  25.333333   85.0
2  Kiran  23.000000   78.0
3  Meena  21.000000   66.0

In [21]:
#Mini Task
data ={ "Employees" : ["A","B","C","D"],
        "Salary" : [30000,None,25000,50000],
        "Experience": [1,3,None,5]}
df = pd.DataFrame(data)
print(df)
print(df.isnull())
df["Salary"]=df["Salary"].fillna(df["Salary"].mean())
df["Experience"]=df["Experience"].fillna(df["Experience"].median())
print(df)

  Employees   Salary  Experience
0         A  30000.0         1.0
1         B      NaN         3.0
2         C  25000.0         NaN
3         D  50000.0         5.0
   Employees  Salary  Experience
0      False   False       False
1      False    True       False
2      False   False        True
3      False   False       False
  Employees   Salary  Experience
0         A  30000.0         1.0
1         B  35000.0         3.0
2         C  25000.0         3.0
3         D  50000.0         5.0